.accueil-teloviking
{
    text-align: center;
    color: purple;
    font-weight: bold;
    font-family: arial , sans-serif;
}

.logo
{
    margin-left: 33%;
}

@font-face
{
    font-family: "arial";
    src: url("Creepster-Regular.ttf");
}

.ce-site
{
    text-align: center;
    color: purple;
    padding-top: 5%;
    font-size: 150%;
    font-family: arial , sans-serif;
}

.footer
{
    background-color: black;
    height: 200px;
    margin-top: 5%;
}