<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
 </head>
 <link href="style.css" rel="stylesheet">
<body class="background">
	<div class="lact col-xs-4 col-sm-8 col-md-6 col-lg-4 offset-xs-4 offset-sm-4 offset-md-4 offset-lg-4">
			<img draggable="false" src="./images/header.png" style="width: 70%; height: auto;">
	</div>
	<div id="app" style="width: fit-content; left:30%; position:relative; top:6vw">
	<template>
		<table class="table table-bordered table-hover font" style="font-size:1.3rem" v-if="info">
			<thead>
					<tr>
						<th>Id</th>
						<th>Nombre de couchage</th>
						<th>Porte</th>
						<th>Etage</th>
						<th>Categorie</th>
						<th>Baignoire</th>
						<th>Prix</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(item, idx) in info" class="text-center">
						<td>{{ item.id }}</td>
						<td>{{ item.nbCouchage }}</td>
						<td>{{ item.porte }}</td>
						<td>{{ item.etage }}</td>
						<td>{{ item.idCategorie }}</td>
						<td>{{ item.baignoire }}</td>
						<td>{{ item.prixBase }}</td>
					</tr>
				</tbody>
		</table>
	</template>
	</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	 
	 <script>
		new Vue({
		  el: '#app',
		  data () {
			return {
			  info: null
			}
		  },
		  mounted () {
			  axios({
			  method: 'get',
			  url: 'http://help.frebourg.es/api/index.php/chambres',
			  responseType: 'json',
			  
			})
			   .then(async res => { 
				 if(res.status === 200) { 
					   this.info=res.data;
				  } else if(res.status === 400) { 
					  let errorResponse = await res.json(); this.errors.push(errorResponse.error); }
			   });
		  }
		})
	</script>

</body>	
