.font {
	font-family: "Lauthan";
	user-select: none;
	font-size: 4rem;

}
.background {
	background-color: #f8d7a8;
}
@font-face {
	font-family: "Lauthan";
	src: url('/font/Lauthan.ttf');
}

.lact {
	font-family: "Lauthan";
	user-select: none;
	font-size: 4rem;
	position: relative;
	left: 5%;
}