body {
    font-family: 'Roboto', sans-serif;
}
th{
    background-color: red;
    padding-right: 0.9em;
    padding-left: 0.9em;
    border:solid 1px;
}
tr{
    border:solid 1px;
}
td{
    border:solid 1px;
}
.graybg{
    background-color: #454545;
}
.whitebg{
    background-color: #FFF;
}